body {
	background-color: #f8f8f8;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 800px;
}

h1 {
	font-size: 3em;
	margin: 50px 0 20px;
	text-align: center;
}

#word-container, #guesses-container, #score-container {
	background-color: #fff;
	border: 2px solid #333;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	width: 90%;
}

#word-container {
	font-size: 2em;
}

#guesses-container, #score-container {
	font-size: 1.2em;
}

button {
	display: block;
	margin: 0 auto;
	background-color: #333;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	margin: 50px auto;
	padding: 10px 20px;
	transition: all 0.2s ease;
}

button:hover {
	background-color: #555;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

#hint-container {
	background-color: #eee;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	display: none;
	min-width: 100px;
	margin-bottom: 37px;
	/* center horizontally */
	margin-left: auto;
	margin-right: auto;
  }

#parent {
	text-align: center;
}

#dinosaur-image {
	display: block;
	margin: 0 auto;
	width: 25%;
	max-width: 200px;
}  

#keyboard-container {
    display: flex;
    justify-content: center; /* center the keyboard horizontally */
    align-items: center; /* center the keyboard vertically */
    flex-wrap: wrap;
  }
  
  .letter {
	display: flex;
	justify-content: center; /* center the letter horizontally */
	align-items: center; /* center the letter vertically */
	width: 60px;
	height: 60px;
	margin: 5px;
	border: 1px solid #333;
	border-radius: 5px;
	font-size: 30px;
	text-align: justify;
	cursor: pointer;
}

#lose-screen {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
  }
  
  #funny-gif {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	height: 45%;
  }

  #restart-button-2 {
	width: 10%;
	height: 7%;
	top: 75%;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 1vw; /* set font size relative to viewport width */
	font-weight: bold;
	border: 4px solid #000000;
	background-color: #1d1d1d;
  }  

  #restart-button-2:hover {
	background-color: #0a0a0a;
  }

  #lose-text {
	position: absolute;
	top: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	font-size: 8em;
	color: #ff0000; 
	text-shadow: -6px -6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000, 6px 6px 0 #000;
  }

  #correct {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	font-size: 2em;
	color: #ff0000; 
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }

@keyframes slideIn {
	from {
	  transform: translateX(-100%);
	}
	to {
	  transform: translateX(0%);
	}
  }
  
  .slide-in {
	animation: slideIn 0.5s forwards;
  }